lng_romania RCDATA "images\\lang_images\\lng_romania.png"
lng_russia RCDATA "images\\lang_images\\lng_russian.png"
lng_usa RCDATA "images\\lang_images\\lng_usa.png"
opm_res_table_0 RCDATA "images\\backgrounds\\opm_res_table_0.jpg"
opm_res_table_1 RCDATA "images\\backgrounds\\opm_res_table_1.jpg"
opm_res_table_10 RCDATA "images\\backgrounds\\opm_res_table_10.jpg"
opm_res_table_11 RCDATA "images\\backgrounds\\opm_res_table_11.jpg"
opm_res_table_12 RCDATA "images\\backgrounds\\opm_res_table_12.jpg"
opm_res_table_13 RCDATA "images\\backgrounds\\opm_res_table_13.jpg"
opm_res_table_14 RCDATA "images\\backgrounds\\opm_res_table_14.jpg"
opm_res_table_2 RCDATA "images\\backgrounds\\opm_res_table_2.jpg"
opm_res_table_3 RCDATA "images\\backgrounds\\opm_res_table_3.jpg"
opm_res_table_4 RCDATA "images\\backgrounds\\opm_res_table_4.jpg"
opm_res_table_5 RCDATA "images\\backgrounds\\opm_res_table_5.jpg"
opm_res_table_6 RCDATA "images\\backgrounds\\opm_res_table_6.jpg"
opm_res_table_7 RCDATA "images\\backgrounds\\opm_res_table_7.jpg"
opm_res_table_8 RCDATA "images\\backgrounds\\opm_res_table_8.jpg"
opm_res_table_9 RCDATA "images\\backgrounds\\opm_res_table_9.jpg"
